In [3]:
#practice questions using class
class vehicle:
    def __init__(self,engine,regPlate,Price,color):
        self.engine=engine
        self.regPlate=regPlate
        self.Price=Price
        self.color=color

class car(vehicle):
    def __init__(self,types,noOfPassengers,maxspeed,engine,regPlate,Price,color):
        self.types=types
        self.noOfPassengers=noOfPassengers
        self.maxspeed=maxspeed
        super().__init__(engine,regPlate,Price,color)

class truck(vehicle):
    def __init__(self,no_ofaxles,loadcapacity,engine,regPlate,Price,color):
        self.no_ofaxles = no_ofaxles
        self.loadcapacity = loadcapacity
        super().__init__(engine,regPlate,Price,color)

car1=car(['mercedes','shift','benz'],20,'180km/h','5000cc','ka123','1crore','black')
truck1=truck('4','2000kg','1000cc','tm123','50lakh','red')

print("cars attr:",car1.types,car1.noOfPassengers,car1.maxspeed,car1.engine,car1.regPlate,car1.Price,car1.color)
print("truck attr:",truck1.no_ofaxles,truck1.loadcapacity,truck1.engine,truck1.regPlate,truck1.Price,truck1.color)

cars attr: ['mercedes', 'shift', 'benz'] 20 180km/h 5000cc ka123 1crore black
truck attr: 4 2000kg 1000cc tm123 50lakh red

In [7]:
class employee:
    def __init__(self,eid,name,sal):
        self.eid=eid
        self.name=name
        self.sal=sal
class staff(employee):
    def __init__(self,wtype,warea,eid,name,sal):
        self.wtype=wtype
        self.warea=warea
        super().__init__(eid,name,sal)

class dev(employee):
     def __init__(self,mod,tec,exp,eid,name,sal):
          self.mod=mod
          self.tec=tec
          self.exp=exp
          super().__init__(eid,name,sal)

class man(employee):
    def __init__(self,pro,cname,eid,name,sal):
        self.pro=pro
        self.cname=cname
        super().__init__(eid,name,sal)

staf1=staff("asstmanger","4thfloor","andy@123",'Andyy','20K')
dev1=dev('ui/ux','website','10','tedy@123','tedy','1lakh')
man1=man('uber','stevejobs','clark@13','clark','3lakh')


print("staff attr:\n",staf1.wtype,staf1.warea,staf1.eid,staf1.name,staf1.sal)
print("developer attr:\n",dev1.mod,dev1.tec,dev1.exp,dev1.name,dev1.sal)
print("manager attr:\n",man1.pro,man1.cname,man1.eid,man1.name,man1.sal)

staff attr:
 asstmanger 4thfloor andy@123 Andyy 20K
developer attr:
 ui/ux website 10 tedy 1lakh
manager attr:
 uber stevejobs clark@13 clark 3lakh

In [10]:
#working on patterns
n=int(input())
for i in range(0,n):
    for j in range(0,n):
        print("*",end=" ")
    print()

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
n=int(input())
for i in range(0,n):
    for j in range(i+1,n):
        print("*",end=" ")
    print()

 5

* * * *
* * *
* *
*

In [16]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

 5

*
* *
* * *
* * * *
* * * * *

In [34]:
n=int(input())

for i in range(1, n+1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(1, 2*i):
            print("*", end=" ")

    print()

 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [36]:
n=int(input())

for i in range(1, n+1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(1, 2*i):
            print(i, end=" ")

    print()

 4

      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4

In [45]:
n=int(input())
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

 5

1
1 2
1 2 3
1 2 3 4

In [46]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")

    print()

 5

* * * * *
*       *
*       *
*       *
* * * * *

In [49]:

n=int(input())

for i in range(1, n+1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(1,i+1):
            print("*", end=" ")

    print()

 5

        *
      * *
    * * *
  * * * *
* * * * *

In [59]:
n=int(input())

for i in range(n,0,-1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(2*i-1):
            print("*", end=" ")

    print()

 5

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [53]:
n = int(input("Enter the number of rows for the pattern: "))

for i in range(n):
    for j in range(i + 1):
        print((i + j) % 2, end=" ")
    print()

Enter the number of rows for the pattern:  5

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0